/* initialization */
body{
    margin: 0;
    padding: 0;
    font-family: "Microsoft JhengHei UI", sans-serif;
}

/* selection style */
::selection{
    background-color: #fd7e14;
}

/* hr element style*/
hr{
    border-color: white;
    border-style: solid;
}

/* a element style */
a{
    transition: color .5s;
    text-decoration: none;
    color: #0d6efd;
}
/* a element hover effect */
a:hover{
    color: #6ca8ff;
}

/* image responsive */
img{
    width: 100%;
    height: auto;
}

/* Navigation bar */
.navbar{
    padding: 1rem 2rem 1rem 2rem;
    color: white;
    background-color: rgba(0, 0, 0, 0.78);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    right: 0;
}
/* Navigation bar menu button */
.navbar .list{
    transition: color .5s;
    text-align: center;
    color: white;
    font-size: 2rem;
    display: none;
}
/* Navigation bar menu button hover effect */
.navbar .list:hover{
    color: #6ca8ff;
}

/* dropdown list */
.dropdown {
    width: 100%;
    position: relative;
    display: inline-block;
}
/* dropdown list content */
.dropdown-content {
    transform: translateY(+15px);
    transition: opacity .3s;
    font-size: initial;
    background-color: #343a40;
    opacity: 0;
    position: absolute;
    min-width: 160px;
    width: 100%;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
}
/* dropdown list show */
.dropdown:hover .dropdown-content {
    display: block;
    opacity: 1;
}
/* dropdown list icon hover effect */
.dropdown > i::before{
    transition: all .5s;
}
.dropdown:hover > i::before{
    transform: rotate(90deg);
}
/* dropdown list content item */
.dropdown .dropdown-content a + a > p{
    border-top: 1px solid white;
}
.dropdown .dropdown-content p{
    transition: background-color .5s;
    margin: 0;
    padding-top: 15px;
    padding-bottom: 15px;
}
/* dropdown list content item hover effect */
.dropdown .dropdown-content p:hover{
    background-color: rgba(255, 255, 255, 0.2);
}

/* go top button */
.gotop{
    transition: opacity .4s;
    opacity: 0;
    position: fixed;
    bottom: 50px;
    right: 50px;
    z-index: 11;
    width: 50px;
    height: 50px;
    border: white 1px solid;
    background-color: #6ca8ff;
    border-radius: 50px;
}
.gotop .icon{
    color: white;
    text-align: center;
}
.gotop a{
    color: white;
}

/* page head */
.index-head-container{
    height: 100vh;
    overflow: hidden;
}
/* page head background image */
.index-head{
    transform: translateY(0);
    background: url("../img/DSC_2829.jpg") no-repeat center center fixed;
    background-size: cover;
    height: 100%;
}
/* page head text */
.index-head .text{
    transform: translateX(-50%) scale(0.7);
    opacity: 0;
    color: white;
    text-align: center;
    text-shadow: 2px 2px 3px black;
    animation: index-head-text-fade-in 1s ease-in-out;
    animation-fill-mode: forwards;
}
/* page head text fade-in effect */
@keyframes index-head-text-fade-in {
    to{
        opacity: 1;
        transform: translateX(0) scale(1);
    }
}

/* page container */
.container{
    width: 100%;
    margin-right: 0;
    margin-left: 0;
}

/* Content */
.content{
    position: relative;
    padding: 2rem 5%;
}
.content > * {
    position: relative;
    z-index: 1;
}
/* content background */
.content:nth-child(even){
    background-color: #6ca8ff;
}
.content:nth-child(odd){
    background-color: lightskyblue;
}
/* Content background even */
.content:nth-child(even)::after{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 50%;
    background-color: rgba(255, 255, 255, 0.4);
    clip-path: polygon(34% 0, 100% 0%, 100% 100%, 0% 100%);
}
/* Content background odd */
.content:nth-child(odd)::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 50%;
    background-color: rgba(255, 255, 255, 0.4);
    clip-path: polygon(0 0, 65% 0, 100% 100%, 0% 100%);
}

/* fade in effect */
.fade-in{
    opacity: 0;
    transform: translateY(100px);
}
/* fade in effect play */
.is-visited{
    animation: fade-in .5s ease-in-out;
    animation-fill-mode: forwards;
}
@keyframes fade-in{
    to{
        opacity: 1;
        transform: translateY(0);
    }
}

/* image frame */
.img-outline img {
    position: relative;
}
.img-outline{
    position: relative;
}
.img-outline div{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
/* image frame first div child */
.img-outline > div:nth-child(1){
    background-color: #fd7e14;
    transform: rotate(5deg) translateY(10px) translateX(-5px);
    box-shadow: 0 0 10px 0 white;
}
/* image frame second div child */
.img-outline > div:nth-child(2){
    background-color: limegreen;
    transform: rotate(-5deg) translateY(-10px);
    box-shadow: 0 0 10px 0 white;
}

/* image hover effect */
.img-hover{
    transition: transform .5s;
}
.img-hover.img-outline div{
    transition: transform .5s;
}
/* image hover zoom effect */
.img-hover:hover{
    transform: scale(1.15);
}
/* image hover image frame rotate effect */
.img-hover.img-outline:hover > div:nth-child(1){
    transform: rotate(-5deg) translateY(-10px) translateX(5px);
}
.img-hover.img-outline:hover > div:nth-child(2){
    transform: rotate(5deg) translateY(10px);
}

/* image hover flash effect */
.img-hover .img-hover-line{
    overflow: hidden;
}
.img-hover .img-hover-line div{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.2);
    width: 50px;
    height: 100%;
    transform: translateX(-100px) rotate(10deg) scaleY(1.1);
}
/* image hover flash effect play */
.img-hover .img-hover-line:hover div{
    animation: img-hover-line .5s ease;
}
@keyframes img-hover-line {
    to{
        transform: translateX(600px) scaleY(1.1) rotate(10deg);
    }
}

/* bottom style */
.button{
    transition: border,color .5s,.5s;
    color: white;
    padding: .5rem 1rem .5rem 1rem;
    background-color: rgba(100, 149, 237, 0);
    border-radius: 20px;
    border: white 1px solid;
    cursor: pointer;
}
/* bottom hover effect */
.button:hover{
    border: #80ff6c 1px solid !important;
    color: #80ff6c !important;
}

/* form style */
.form-group {
    margin-bottom: 1rem;
}
/* form text, email input style */
.form-group input[type='text'],
.form-group input[type='email']{
    color: white;
    font-size: 1rem;
    transition: border .5s;
    width: 100%;
    background-color: rgba(255, 255, 255, 0);
    border-width: 0;
    border-bottom: solid 1px white;
}
/* remove form text, email input default style */
.form-group input[type='text']:focus-visible,
.form-group input[type='text']:hover,
.form-group input[type='email']:hover,
.form-group input[type='email']:focus-visible{
    outline: none;
    background-color: rgba(255, 255, 255, 0);
    border-width: 0;
    border-bottom: solid 1px #80ff6c;
}
/* form textarea style */
.form-group textarea{
    color: white;
    font-size: 1rem;
    transition: border .5s;
    width: 100%;
    height: 10rem;
    background-color: rgba(255, 255, 255, 0);
    border: solid 1px white;
    border-radius: 10px;
}
/* remove form textarea default style */
.form-group textarea:focus-visible,
.form-group textarea:hover{
    outline: none;
    background-color: rgba(255, 255, 255, 0);
    border: solid 1px #80ff6c;
}

/* page footer */
.footer{
    padding: 2rem 3rem 2rem 3rem;
    color: gray;
    background-color: #343a40;
}

/* height 100% */
.h-100{
    height: 100%;
}

/* flex Grid */
.row {
    --gutter-x: 1.5rem;
    --gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--gutter-y));
    margin-right: calc(-0.5 * var(--gutter-x));
    margin-left: calc(-0.5 * var(--gutter-x));
}
.row > * {
    box-sizing: border-box;
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: calc(var(--gutter-x) * 0.5);
    padding-left: calc(var(--gutter-x) * 0.5);
    margin-top: var(--gutter-y);
}

/* mouse effect */
.mouse{
    border-radius: 5px;
    background-color: white;
    width: 5px;
    height: 5px;
    position: fixed;
    z-index: 2;
    --translateX: 0;
    animation: mouse 2s ease;
    animation-fill-mode: forwards;
}
@keyframes mouse {
    to{
        transform: translateY(60px) translateX(var(--translateX));
        opacity: 0;
    }
}

/* youtube icon on image */
.youtube-play{
    cursor: pointer;
    position: relative;
    color: rgba(255, 255, 255, 0.75);
}
.youtube-play > i{
    transition: color .5s;
    font-size: 4em;
    top: calc(50% - 81px / 2);
    left: calc(50% - 64px / 2);
    position: absolute;
}
.youtube-play:hover > i{
    color: #FF0000;
}

/* youtube */
.youtube{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.44);
    width: 100%;
    height: 100%;
    z-index: 999;
    color: white;
}
/* youtube Responsive */
.video-container {
    overflow: hidden;
    position: relative;
    width:100%;
}

.video-container::after {
    padding-top: 56.25%;
    display: block;
    content: '';
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* flex col */
.col-auto {
    flex: 0 0 auto;
    width: auto;
}
.col {
    flex: 1 0 0;
}
.col-1, .col-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-11, .col-12{
    flex: 0 0 auto;
}
.col-1 {
    width: 8%;
}
.col-2 {
    width: 16%;
}
.col-sm-3 {
    width: 25%;
}
.col-sm-4 {
    width: 33%;
}
.col-sm-5 {
    width: 41%;
}
.col-6 {
    width: 50%;
}
.col-sm-7 {
    width: 58%;
}
.col-sm-8 {
    width: 66%;
}
.col-sm-9 {
    width: 75%;
}
.col-sm-10 {
    width: 83%;
}
.col-11 {
    width: 91%;
}
.col-12 {
    width: 100%;
}

/* flex align */
.align-content-end {
    align-content: flex-end !important;
}
.align-content-center {
    align-content: center !important;
}
.align-content-between {
    align-content: space-between !important;
}
.justify-content-end {
    justify-content: flex-end !important;
}
.justify-content-center {
    justify-content: center !important;
}
.justify-content-between {
    justify-content: space-between !important;
}

/* if screen is 576 */
@media screen and (max-width: 760px) {
    body{
        font-size: 12px;
    }
    /* Navigation bar */
    /* Navigation bar title style */
    .navbar .title{
        text-align: center;
    }
    /* Navigation bar menu button show */
    .navbar .list{
        display: initial;
    }
    /* Navigation bar default menu hide */
    .navbar .link{
        display: none;
    }

    /* Content background */
    .content:nth-child(even)::after{
        top: 50%;
        left: 0;
        right: 0;
        bottom: 0;
        clip-path: polygon(0 0, 100% 31%, 100% 100%, 0% 100%);
    }
    .content:nth-child(odd)::after{
        top: 0;
        left: 0;
        right: 0;
        bottom: 50%;
        clip-path: polygon(0 0, 100% 0, 100% 72%, 0% 100%);
    }

    /* flex col */
    .col-sm{
        flex: 1 0 0;
    }
    .col-sm-1 {
        width: 8%;
    }
    .col-sm-2 {
        width: 16%;
    }
    .col-sm-3 {
        width: 25%;
    }
    .col-sm-4 {
        width: 33%;
    }
    .col-sm-5 {
        width: 41%;
    }
    .col-sm-6 {
        width: 50%;
    }
    .col-sm-7 {
        width: 58%;
    }
    .col-sm-8 {
        width: 66%;
    }
    .col-sm-9 {
        width: 75%;
    }
    .col-sm-10 {
        width: 83%;
    }
    .col-sm-11 {
        width: 91%;
    }
    .col-sm-12 {
        width: 100%;
    }
}

/* if screen is 992px */
@media screen and (min-width: 760px) and (max-width: 992px) {
    body{
        font-size: 14px;
    }

    /* flex col */
    .col-lg {
        flex: 1 0 0;
    }
    .col-lg-1 {
        width: 8%;
    }
    .col-lg-2 {
        width: 16%;
    }
    .col-lg-3 {
        width: 25%;
    }
    .col-lg-4 {
        width: 33%;
    }
    .col-lg-5 {
        width: 41%;
    }
    .col-lg-6 {
        width: 50%;
    }
    .col-lg-7 {
        width: 58%;
    }
    .col-lg-8 {
        width: 66%;
    }
    .col-lg-9 {
        width: 75%;
    }
    .col-lg-10 {
        width: 83%;
    }
    .col-lg-11 {
        width: 91%;
    }
    .col-lg-12 {
        width: 100%;
    }
}